$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-base: #f9a825 !default;
$color-red: #f66568 !default;
$color-gray-f8: #f8f8f8 !default;
$color-gray-9: #999999 !default;
$color-gray-6: #666666 !default;
$color-gray-3: #333333 !default;
$color-gray-e: #eeeeee !default;
$color-gray-d: #dddddd !default;