/* Text-level parameter
     ========================================================================== */

html,
body,
#app,
.wrapper {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
}


/* Text-level parameter
     ========================================================================== */

//base
$basics: 50%;
$border: 1px;
$base-size: 100px;
$base-spacing: 20px;
$base-radius: 12px;
// home
$home-choice: 120px;
$home-carousel: 260px;
$home-product: 1006px;
$home-cart: 238px;
// order
$order-date: 200px;
$order-list: 1284px;
// tabbar
$tabbar-height: 140px;

/* Text-level util
     ========================================================================== */

//单行省略号
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//双行省略号
@mixin ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

//三行省略号
@mixin ellipsis3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* Text-level flex
     ========================================================================== */

@mixin flex-half($width) {
    display: flex;
    flex-wrap: nowrap;
    &>li,
    &>div,
    &>section,
    &>p {
        flex-grow: 1;
        width: $width;
    }
}

@mixin flex-down {
    display: flex;
    flex-direction: column;
    &>div,
    &>li,
    &>section,
    &>p {
        flex-grow: 1;
    }
}

@mixin flex-center($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


/* Text-level float
     ========================================================================== */

@mixin float-half($width) {
    &>li,
    &>div,
    &>section,
    &>p {
        float: left;
        max-width: $width;
    }
    @include float-clear;
}

@mixin float-clear {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}


/* Text-level position
     ========================================================================== */

@mixin fiexd($top, $bottom) {
    position: fixed;
    bottom: $bottom;
    top: $top;
    width: 100%;
    z-index: 999;
}

@mixin absolute($width, $height, $top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    width: $width;
    height: $height;
}

@mixin absolute-center($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
}


/* Text-level spacing
     ========================================================================== */

@mixin standard-padding {
    padding: $base-spacing;
}

@mixin standard-padding-t {
    padding-top: $base-spacing;
}

@mixin standard-padding-r {
    padding-right: $base-spacing;
}

@mixin standard-padding-b {
    padding-bottom: $base-spacing;
}

@mixin standard-padding-l {
    padding-let: $base-spacing;
}

@mixin standard-padding-lr {
    padding: 0 $base-spacing;
}


/* Text-level alook
     ========================================================================== */

@mixin card($tr, $bl) {
    border-radius: $tr $tr $bl $bl;
    -webkit-border-radius: $tr $tr $bl $bl;
    -moz-border-radius: $tr $tr $bl $bl;
    -ms-border-radius: $tr $tr $bl $bl;
    -o-border-radius: $tr $tr $bl $bl;
}


/* Text-level icon
     ========================================================================== */

@mixin label-i($color) {
    background-color: $color;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
    display: inline-block;
    color: #ffffff;
    font-style: normal;
    padding-left: $spacing-s;
    margin-right: $spacing-xx;
    position: relative;
    height: 40px;
    &::after {
        position: absolute;
        content: "";
        top: 0;
        right: -$spacing-x;
        width: 0;
        height: 0;
        border-left: 20px solid $color;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}