$basics: 50%;
$border: 1px;
$base-size: 100px;
$home-choice: 120px;
$home-carousel: 260px;
$home-product: 1004px;
$home-cart: 240px;
//单行省略号
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//双行省略号
@mixin ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

//三行省略号
@mixin ellipsis3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@mixin flex-half($width) {
    display: flex;
    flex-wrap: nowrap;
    &>li,
    &>div,
    &>section,
    &>p {
        flex-grow: 1;
        width: $width;
    }
}

@mixin flex-down {
    display: flex;
    flex-direction: column;
    &>div,
    &>li,
    &>section,
    &>p {
        flex-grow: 1;
    }
}

@mixin flex-center($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-fixed($size-w, $size-h) {
    min-height: $size-h;
    max-height: $size-h;
    min-width: $size-w;
    min-width: $size-w;
}

@mixin float-half($width) {
    &>li,
    &>div,
    &>section,
    &>p {
        float: left;
        max-width: $width;
    }
    @include float-clear;
}

@mixin float-clear {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin standard-padding {
    padding: $spacing-x;
}

@mixin standard-padding-t {
    padding-top: $spacing-x;
}

@mixin standard-padding-r {
    padding-right: $spacing-x;
}

@mixin standard-padding-b {
    padding-bottom: $spacing-x;
}

@mixin standard-padding-l {
    padding-let: $spacing-x;
}