i.van-icon {
    color: $color-gray-d;
    font-size: 40px;
}

.mu-bottom-nav {
    height: auto;
    border-top: $border solid $color-gray-e;
    a {
        padding: 20px 10px;
    }
}

.van-button {
    color: #ffffff;
    font-size: 14PX;
}